/* This external style sheet modifing and add global styles */


/* import angular material */

@import '~@angular/material/theming';

@include mat-core();

.light-theme {

    $light-primary: mat-palette($mat-blue, 700);
    $light-accent: mat-palette($mat-pink, A200, A100, A400);
    $light-warn: mat-palette($mat-red);
    $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

    @include angular-material-theme($light-theme);
}

.dark-theme {
    
    $dark-primary: mat-palette($mat-pink);
    $dark-accent: mat-palette($mat-blue, A200, A100, A400);
    $dark-warn: mat-palette($mat-deep-orange);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);
}


/* Font import from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Reseting all containers */

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
};

/* HTML tags */

body {

    width: 100%;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;

};

